@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #000000;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #0083F3;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height:  px;
	
}
.nav {
	background: #FFF66F;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FF7072;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFBC69;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}